html, body{
  margin: 0;
  /* background-color: #EDE9E3; */
}

.main{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.img-container{
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.home-image {
  width: 100%;
  height: auto;
}

.section-row{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 40px;
}

.section-column{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.section-image{
  width: 100%;
}

.section-title{
  color: #80481A;
}

.section-column p{
  font-size: medium;
  line-height: 30px;
}

.donate-button-home {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: #d71717;
  border: 1px solid #d71717;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.donate-button-home:hover {
  background-color: #f53232;
  border: 1px solid #d71717;
}

@media screen and (max-width: 425px) {
  .home-image{
    width: 100%;
    margin-top: 10px;
    position: inherit;
    z-index: 100;
  }

}
