.main{
    text-align: center;
    background-color: lightpink;
    display: block;
    margin: auto;
    width: 800px;
    height: 700px;
    border-radius: 60px;
    margin-bottom: 20px;
    padding: 10px;
}

img{
    display: block;
    margin: auto;
    width: 600px;
    height: 500px;
}

#sec-div{
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: auto;
    width: 800px;
    height: 700px;
    border-radius: 60px;
    margin-bottom: 20px;
    padding: 10px;
}

#id-img{
    display: block;
    margin: auto;
    width: 600px;
    height: 500px;
    border-radius: 60px;
}