body{
  padding: 120px;
}

.header-contact{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  height: 120px;
  background-color: #EDE9E3;
  padding: 10px 30px;
  z-index: 2000;
}

.logo{
  width: 100%;
  max-width: 150px;
  margin-right: 20px;
}

.text-image{
  font-size: 45px;
  font-weight: 700;
  font-family: Poppins;
  text-shadow: 1px 1px 1px white;
}

a {
  text-decoration: none;
  color: black;
}

.text-image:hover {
  color: #552626;
  text-shadow: 1px 1px 1px white;
  cursor: pointer;
}

.form {
  font-family: Poppins;
  padding: 40px 20px 40px 20px;
  font-size: medium;
  line-height: 30px;
  width: 100%;
}
.form form {
  margin: auto;
  max-width: 600px;
}
.form label {
  display: block;
  margin-bottom: 8px;
}
.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-family: inherit;
  border: 1px solid #ccccccab;
  border-radius: 4px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  border-color: #007bff;
  outline: none;
}
.form button {
  background-color: #552626;
  color: white;
  padding: 10px 20px;
  border: 1px solid #552626;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}
.form button:hover {
  background-color: #944141;
  border: 1px solid #552626;
}
.form ::placeholder {
  font-family: inherit;
  opacity: 0.7;
}

