html, body{
  margin: 0;
  font-family: Poppins;
}

.main{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.img-container{
  position: relative;
  text-align: center;
}

.home-image {
  width: 100%;
  height: auto;
}

.text-image-home{
  position: absolute;
  bottom: 10px;
  right: 40px;
  z-index: 1000;

  font-size: 50px;
  font-weight: 700;
  font-family: Poppins;
  text-shadow: 1px 1px 1px white;
}

.section-row{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.section-column{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.section-image{
  width: 100%;
}

.section-title{
  color: #552626;
}

.section-column p{
  font-size: medium;
  line-height: 30px;
}

.section-column p a{
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 870px) and (max-width: 1000px){
  .text-image-home{
    font-size: 40px;
  }
}

@media screen and (min-width: 670px) and (max-width: 870px){
  .text-image-home{
    font-size: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 670px){
  .text-image-home{
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {

  .text-image-home{
    font-size: 20px;
  }

}
