@charset "UTF-8";

body {
    background-color: rgb(251,248,255,255);
	font-family: Tahoma, Verdana, sans-serif;
	color: #333;
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}
main {
	display: flex;
	flex-direction: row;
}
main aside {
	width: 40%;
    bottom: 200px;
    position: relative;
}
main section {
	width: 60%;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
img{
    width: 350px;
    height: 250px;
    position: relative;
    margin-top: 50px;
}
h1{
    margin-top: 50px;
}
figcaption{
    color: gray;
    font-size: xx-small;
    text-align: center;
    margin: auto;
}