*{
    background-color: bisque;
}

h1{
    color:crimson;
    text-align: center;
}

h2{
    color: blueviolet;
}

p{
    text-align: center;
}

form{
    max-width: 400px;
    margin: auto;
}

section{
    color: goldenrod;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}