/* Ways of write css: internal, external and in line */
/*body{
  background-image: url(assets/silver_toaster.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

nav{
  background-color: black;
  position: relative;
  width: 100%;
  /* margin: 0; */
  top: 0;
  left: 0;
  padding: 10px 0px;
}
ul{
  list-style-type: none;
  text-align: center;
}
li{
  display: inline;
  margin-right: 20px;
  font-size: 40px;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
}
#first{
  color: blue;
}
#second{
  color: blueviolet;
}
#third{
  color: brown;
}
#first-div{
  font-size: 20px;
}
#second-div{
  font-size: 30px;
}
#third-div{
  font-size: 40px;
}
.my-div{
  color: black;
}
img{
  display: block;
  height: 220px;
  width: 200px;
  margin: auto;
}
footer{
  background-color: black;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}