body{
  background-color: #FAF9F6;
  color: rgb(74, 74, 74);
  font-family: "Open Sans", sans-serif;
  padding-bottom: 40px;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
}