main{
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.brief-description{
  position: relative;
  padding: 20px 80px;
  flex: 1fr;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  padding: 40px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.section-title{
  min-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif Display", serif;;
  font-size: 40px;
  font-weight: 300;
  padding: 10px 24px;
  flex: 50px;
  margin-bottom: 30px;
}

.description{
  min-width: 300px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 70%;
  flex: 1fr;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 30px;
}

.description div{
  margin-bottom: 15px;
  text-indent: 30px;
}

.listed-technologies{
  min-width: 300px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 50%;
  flex: 1fr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listed-technologies div{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.divisory-line{
  position: absolute;
  bottom: 0;
  right: 60px;
  left: 60px;
  border-bottom: 1px solid rgb(74, 74, 74);
  margin-bottom: 30px;
}

/* ---------------------------- */

.projects{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 70px;
  width: 70%;
  margin-bottom: 70px;
}

@media (max-width: 600px){
  .portfolio-grid{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1200px){
  .portfolio-grid{
    grid-template-columns: 1fr 1fr;
  }
} 

@media (min-width: 1400px) and (max-width: 1900px){
  .portfolio-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1901px){
  .portfolio-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.portfolio-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 300px;
  height: 300px;

  background-color: rgb(224, 224, 221);

}

.image-project{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.image-project img{
  width: 260px;
  height: 200px;
}

.title-project{
  flex: 10px;

  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

.title-project a{
  text-decoration: none;
  color: rgb(74, 74, 74);
}

.description-project{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex: 10px;

  font-size: 14px;
  line-height: 15px;
  padding-bottom: 10px;
}






