main{
  position: relative;
  justify-content: space-around;
  /* align-items: center;  */
}

.projects{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-grid{
  /* position: relative; */
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 50px;
  row-gap: 70px;
  width: 1000px;
  margin-bottom: 70px;
}

.portfolio-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 300px;
  height: 300px;

  background-color: rgb(224, 224, 221);

  /* border: 1px solid black; */
}

.image-project{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.image-project img{
  width: 260px;
  height: 200px;
}

.title-project{
  flex: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  padding-left: 20px;
}

.title-project a{
  text-decoration: none;
  color: rgb(74, 74, 74);
}

.description-project{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex: 10px;

  font-size: 14px;
  line-height: 15px;
  /* padding-left: 20px; */
  padding-bottom: 10px;
}