header{
    background-color: white;
    color: rgb(218, 117, 35);
    font-size: larger;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px lightgrey;
}
.h1{
    width: 80%;
    margin-left: 20px;
}
.localization{
    display: grid;
    width: 20%;
    align-items: center;
    text-align: center;
    color: black;
    grid-template-columns: 20px 100px;
    column-gap: 10px;
}
.local{
    height: 40px;
    width: 30px;
}
main{
    height: 500px;
}
footer{
    border-top: solid 1px lightgrey;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
    display: block;
    padding: 20px;
}
.message{
    margin-left: 30px;
}